html {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 1080px;
}
.container {
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  margin: auto;
  position: relative;
}

body {
  background: #000;
}

header {
  width: 100%;
  height: 70px;
  background: #000;
  border-bottom: 1px solid #646464;
  margin: 0 auto;
  top: 0;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

#header.on {
  background-color: #f6f6f6; /* 변경할 배경색 */
  /* ... */
}

nav {
  width: 1640px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlelist_logo {
  left: 0px;
  padding: 0;
}

/* 메뉴 스타일링 */

.menu {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  display: none;
}
.menu_container {
  position: relative;
  width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.menu_icon {
  position: absolute;
  left: 1723px;
  top: 23px;
}

.titlelist_munu_logo {
  left: -50px;
  top: -70px;
  padding: 10px;
  position: absolute;
}

/* 메뉴 인트로 */
.menu_intro {
  position: absolute;
  left: 1183px;
  top: 147px;
}

.menu_img1 {
  position: absolute;
  left: -1700px;
  top: -30px;
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: 3000;
  height: 1167px;
}

.menu_01 {
  position: absolute;
  left: -140px;
  top: -50px;
  opacity: 0;
}

/* 메뉴 볼 */
.menu_ball {
  position: absolute;
  left: 1277px;
  top: 383px;
}

.menu_02 {
  position: absolute;
  left: -145px;
  top: -50px;
  opacity: 0;
}

.menu_img2 {
  position: absolute;
  left: -1700px;
  top: -30px;
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: 3000;
  height: 1167px;
}

/* 메뉴 퍼터 */
.menu_putter {
  position: absolute;
  left: 1142px;
  top: 619px;
}

.menu_03 {
  position: absolute;
  left: -145px;
  top: -50px;
  opacity: 0;
}

.menu_img3 {
  position: absolute;
  left: -1700px;
  top: -30px;
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: 3000;
  height: 1167px;
}

/* 메뉴 웨지 */
.menu_wedge {
  position: absolute;
  left: 1120px;
  top: 855px;
}

.menu_04 {
  position: absolute;
  left: -120px;
  top: -50px;
  opacity: 0;
}

.menu_img4 {
  position: absolute;
  left: -1700px;
  top: -30px;
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: 3000;
  height: 1167px;
}

/* intro */

.intro {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.intro_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

#fullscreen-video {
  width: auto;
  height: 1080px; /* 세로 길이를 1080으로 맞추기 */
  max-width: 100%; /* 부모 요소에 맞게 가로 크기 조정 */
  object-fit: cover; /* 비디오 비율 유지하며 가득 채우기 */
}

.shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #0d0d0d; /* 도형의 배경색 */
  /* opacity: 1; */
  z-index: 2; /* 도형이 영상 위에 나타나도록 설정 */
}
.intro_logo {
  position: absolute;
  top: 368px;
  left: 376px;
  /* transform: translate(-50%, -50%); */
  /* width: 100%;
  height: 100%; */

  /* opacity: 1; */
  z-index: 2; /* 도형이 영상 위에 나타나도록 설정 */
}

/* ----------------------------------------------------------------- */
.wrapper {
  width: 1920px;
  height: 100%;
  position: relative;
  margin: auto;
}

.golf_ball {
  width: 494px;
  height: 494px;
  position: absolute;
  left: 240px;
  top: 293px;
  z-index: 998;
}

/* section 01 */
.section01 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #0d0d0d;
  position: relative;
}
.section01_container {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.section01_outperform {
  position: absolute;
  left: 640px;
  top: 573px;
}

.design_to {
  position: absolute;
  left: 767px;
  top: 414px;
}

.main_text {
  position: absolute;
  left: 1360px;
  top: 460px;
}

.main_line {
  position: absolute;
  left: 680px;
  top: 755px;
}

.scroll_down {
  position: absolute;
  left: 877px;
  top: 999px;
}

/* section02 */

.section02 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #0d0d0d;
}

.section02_container {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.section02_the_greatest {
  position: absolute;
  left: 869px;
  top: 258px;
}

.combination_of {
  position: absolute;
  left: 869px;
  top: 373px;
}

.speed_spin {
  position: absolute;
  left: 992px;
  top: 452px;
}

.section02_text {
  position: absolute;
  left: 869px;
  top: 611px;
}

/* section03 */

.section03 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #0d0d0d;
  position: relative;
}

.section03_container {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.section03_line {
  position: absolute;
  left: 0px;
  top: 0px;
}

.section03_titlelist {
  position: absolute;
  left: 560px;
  top: 336px;
}

.section03_text {
  position: absolute;
  left: 651px;
  top: 398px;
  opacity: 0;
}
.section03_pr {
  position: absolute;
  left: 273px;
  top: 495px;
}

.section03_v1 {
  position: absolute;
  left: 1136px;
  top: 495px;
}

.section03_shadow1 {
  position: absolute;
  left: 273px;
  top: 888px;
  opacity: 0;
}

.section03_shadow2 {
  width: 358px;
  height: 358px;
  position: absolute;
  left: 723px;
  top: 842px;
  opacity: 0;
}

.section03_shadow3 {
  position: absolute;
  left: 1136px;
  top: 888px;
  opacity: 0;
}

.section03_ball {
  position: absolute;
  left: 713px;
  top: 457px;
}

/* section04 */

.section04 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #f6f6f6;
}

.section04_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.section04_v1 {
  position: absolute;
  left: 961px;
  top: 246px;
}

.section04_pro {
  position: absolute;
  left: 830px;
  top: 359px;
}

.section04_new {
  position: absolute;
  left: 1001px;
  top: 512px;
}

.section04_engine {
  position: absolute;
  left: 669px;
  top: 689px;
}

.section04_text {
  position: absolute;
  left: 724px;
  top: 540px;
}

.section04_video {
  position: absolute;
  left: -12px;
  top: 157px;
}

.section04_index {
  position: absolute;
  left: 1377px;
  top: 707px;
}

.section04_line {
  position: absolute;
  left: 1300px;
  top: 650px;

  /* 애니메이션 설정 */
  animation: rotate 2s linear infinite; /* rotate 애니메이션 적용 */
}

@keyframes rotate {
  to {
    transform: rotate(360deg); /* 한 바퀴 회전 */
  }
}

/* --------------------------- */

.scroll_container01 {
  width: 5760px;
  height: 1080px;
  display: flex;
  overflow-x: visible;
  flex-wrap: nowrap;
  position: relative;
  /* overflow: hidden; */
}
/* section05 */

.section05 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #f6f6f6;
}

.section05_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.section05_img1 {
  position: absolute;
  left: 700px;
  top: 360px;
}

.section05_img2 {
  position: absolute;
  left: 400px;
  top: 180px;
}

.section05_lowlong {
  position: absolute;
  left: 817px;
  top: 211px;
}

.section05_gamespin {
  position: absolute;
  left: 1260px;
  top: 324px;
}

.section05_and {
  position: absolute;
  left: 260px;
  top: 710px;
}

.section05_improved {
  position: absolute;
  left: 350px;
  top: 734px;
}
.section05_speed {
  position: absolute;
  left: 442px;
  top: 831px;
}

.section05_text {
  position: absolute;
  left: 1260px;
  top: 828px;
}

/* section06 */

.section06 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #f6f6f6;
}

.section06_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.section06_img {
  position: absolute;
  left: 1120px;
  top: 270px;
}
.section06_sharp {
  position: absolute;
  left: 280px;
  top: 218px;
}

.section06_and {
  position: absolute;
  left: 554px;
  top: 192px;
}

.section06_consistent {
  position: absolute;
  left: 280px;
  top: 345px;
}
.section06_ballflight {
  position: absolute;
  left: 723px;
  top: 464px;
}

.section06_text {
  position: absolute;
  left: 540px;
  top: 828px;
}

/* section07 */

.section07 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #f6f6f6;
}

.section07_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.section07_img1 {
  position: absolute;
  left: 280px;
  top: 180px;
}

.section07_img2 {
  position: absolute;
  left: 840px;
  top: 450px;
}
.section07_tm {
  position: absolute;
  left: 1506px;
  top: 369px;
}

.section07_overwhelming {
  position: absolute;
  left: 866px;
  top: 215px;
}

.section07_dropandstop {
  position: absolute;
  left: 866px;
  top: 315px;
}

.section07_controls {
  position: absolute;
  left: 222px;
  top: 862px;
}

.section07_text {
  position: absolute;
  left: 1261px;
  top: 800px;
}

/* section07_1 */

.section07_1 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #f6f6f6;
}

.section07_1_container {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.section07_1_bg {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* section08 */

.section08 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #f6f6f6;
}

.section08_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.section08_bg {
  position: absolute;
  left: 0px;
  top: 0px;
}

.section08_better {
  width: 1000px;
  position: absolute;
  left: 436px;
  /* top: 385px; */
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: difference;
}

.section08_text {
  width: 5000px;
  position: absolute;
  left: 0px;
  top: 915px;
  /* transform: translateY(-50%); */
}

.section08_img1 {
  width: 300px;
  position: absolute;
  left: 400px;
  bottom: -500px;
}

.section08_img2 {
  width: 250px;
  position: absolute;
  left: 700px;
  bottom: -700px;
}

.section08_img3 {
  width: 250px;
  position: absolute;
  left: 1000px;
  bottom: -700px;
}

.section08_img4 {
  width: 250px;
  position: absolute;
  left: 1300px;
  bottom: -800px;
}
/* section09 */

.section09 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section09_container {
  width: 1920px;
  height: 1080px;
  position: relative;
}

.section09_img1 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.section09_index {
  position: absolute;
  left: 798px;
  top: 379px;
}

.section09_line {
  position: absolute;
  left: 735px;
  top: 325px;

  /* 애니메이션 설정 */
  animation: rotate 2s linear infinite; /* rotate 애니메이션 적용 */
}

@keyframes rotate {
  to {
    transform: rotate(360deg); /* 한 바퀴 회전 */
  }
}

.section09_scotty {
  position: absolute;
  left: 224px;
  top: 380px;
}

.section09_cameron {
  position: absolute;
  left: 392px;
  top: 471px;
}

.section09_putter {
  position: absolute;
  left: 178px;
  top: 624px;
}

/* section10 */

.section10 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section10_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section10_line1 {
  position: absolute;
  left: 0px;
  top: 690px;

  clip-path: inset(0 100% 0 0);
  transition: clip-path 1.5s;
}
.section10_line2 {
  position: absolute;
  left: 678px;
  top: 0px;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 1.5s;
}

.section10_line3 {
  position: absolute;
  left: 681px;
  top: 390px;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1.5s;
}

.section10_line4 {
  position: absolute;
  left: 958px;
  top: 390px;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 1.5s;
}

.section10_line5 {
  position: absolute;
  left: 960px;
  top: 690px;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1.5s;
}

.section10_line6 {
  position: absolute;
  left: 1238px;
  top: 0px;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 1.5s;
}

.section10_line7 {
  position: absolute;
  left: 1238px;
  top: 390px;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1.5s;
}

.section10_img1 {
  position: absolute;
  left: 400px;
  top: 90px;
  opacity: 0;
}
.section10_img2 {
  position: absolute;
  left: 680px;
  top: 390px;
}

.section10_img3 {
  position: absolute;
  left: 960px;
  top: 90px;
}

.section10_img4 {
  position: absolute;
  left: 1240px;
  top: 390px;
}

.s {
  position: absolute;
  left: 435px;
  top: 692px;
}

.u {
  position: absolute;
  left: 680px;
  top: 69px;
}

.p {
  position: absolute;
  left: 960px;
  top: 813px;
}

.e {
  position: absolute;
  left: 1240px;
  top: 106px;
}

.r {
  position: absolute;
  left: 1582px;
  top: 390px;
}

/* section11 */

.section11 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section11_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section11_putter {
  position: absolute;
  left: 903px;
  top: 195px;
}

.section11_red {
  position: absolute;
  left: 1147px;
  top: 281px;
}

.section11_select {
  position: absolute;
  left: 549px;
  top: 661px;
}

.section11_super {
  position: absolute;
  left: 417px;
  top: 490px;
}

.section11_text {
  position: absolute;
  left: 280px;
  top: 689px;
}

#fullscreen-video10 {
  position: absolute;
  left: 468px;
  top: 335px;
  object-fit: cover;
  width: 1920px;
  height: 1080px; /* 세로 길이를 1080으로 맞추기 */
  max-width: 100%;
}
/* --------------------------- */

.scroll_container02 {
  width: 5760px;
  height: 1080px;
  display: flex;
  overflow-x: visible;
  flex-wrap: nowrap;
  position: relative;
  /* overflow: hidden; */
}
/* section12 */

.section12 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section12_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section12_dualmild {
  position: absolute;
  left: 932px;
  top: 373px;
}

.section12_technology {
  position: absolute;
  left: 1088px;
  top: 516px;
}

.section12_face {
  position: absolute;
  left: 800px;
  top: 270px;
}

.section12_text {
  position: absolute;
  left: 940px;
  top: 793px;
}

#fullscreen-video2 {
  width: 660px;
  height: 371px;
  position: absolute;
  left: 140px;
  top: 540px;
  object-fit: cover;
}

/* section13 */

.section13 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section13_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section13_deepmilling {
  position: absolute;
  left: 137px;
  top: 650px;
}

.section13_sound {
  position: absolute;
  left: 137px;
  top: 444px;
}

.section13_excellent {
  position: absolute;
  left: 137px;
  top: 333px;
}

.section13_text {
  position: absolute;
  left: 1365px;
  top: 453px;
}

.section13_batting {
  position: absolute;
  left: 349px;
  top: 974px;
}

.circle-container {
  width: 660px;
  height: 660px;
  left: 630px;
  top: 210px;
  border-radius: 50%; /* 원형을 만들어주는 속성 */
  overflow: hidden; /* 내부 동영상을 원형 모양으로 자르기 위해 사용 */
  position: relative; /* 내부 동영상의 위치를 조정하기 위해 사용 */
}

/* 동영상의 위치를 조정하여 원 안에 위치시킵니다. */
.circle-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

/* section14 */

.section14 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section14_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section14_consistency {
  position: absolute;
  left: 210px;
  top: 196px;
}

.section14_great {
  position: absolute;
  left: 129px;
  top: 119px;
}

.section14_flat {
  position: absolute;
  left: 670px;
  top: 899px;
}

/* section15 */

.section15 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section15_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}
.section15_img {
  position: absolute;
  left: 485px;
  top: 0px;
}
.section15_comma {
  position: absolute;
  left: 120px;
  top: 270px;
}

.section15_text1 {
  position: absolute;
  left: 281px;
  top: 325px;
}

.section15_text2 {
  position: absolute;
  left: 632px;
  top: 436px;
}

.section15_text3 {
  position: absolute;
  left: 279px;
  top: 600px;
}

.section15_text4 {
  position: absolute;
  left: 500px;
  top: 714px;
}

/* section16 */

.section16 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section16_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section16_img {
  position: absolute;
  left: 877px;
  top: -65px;
}

.section16_choose {
  position: absolute;
  left: 750px;
  top: 258px;
}

.section16_vokey {
  position: absolute;
  left: 410px;
  top: 329px;
}

.section16_sm9 {
  position: absolute;
  left: 205px;
  top: 540px;
}

.section16_wedge {
  position: absolute;
  left: 327px;
  top: 777px;
}

.section16_line {
  position: absolute;
  left: 205px;
  top: 709px;
}

.section16_index {
  position: absolute;
  left: 600px;
  top: 490px;
}

.section16_line3 {
  position: absolute;
  left: 550px;
  top: 445px;
  /* 애니메이션 설정 */
  animation: rotate 2s linear infinite; /* rotate 애니메이션 적용 */
}

@keyframes rotate {
  to {
    transform: rotate(360deg); /* 한 바퀴 회전 */
  }
}

/* section17 */

.section17 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section17_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section17_with {
  position: absolute;
  left: 948px;
  top: 219px;
}

.section17_sm9 {
  position: absolute;
  left: 707px;
  top: 247px;
}

.section17_wedge {
  position: absolute;
  left: 936px;
  top: 333px;
}

.section17_closer {
  position: absolute;
  left: 552px;
  top: 450px;
}

.section17_hole {
  position: absolute;
  left: 510px;
  top: 457px;
}

.section17_often {
  position: absolute;
  left: 516px;
  top: 590px;
}

.section17_box {
  position: absolute;
  left: 489px;
  top: 671px;
}
.section17_text {
  position: absolute;
  left: 599px;
  top: 793px;
}

/* section18 */

.section18 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section18_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section18_text1 {
  position: absolute;
  left: 462px;
  top: 226px;
}

.section18_text2 {
  position: absolute;
  left: 455px;
  top: 408px;
}

.section18_text3 {
  position: absolute;
  left: 462px;
  top: 597px;
}

.section18_text4 {
  position: absolute;
  left: 569px;
  top: 854px;
}

.section18_img {
  position: absolute;
  left: 525px;
  top: 172px;
}

/* section19 */

.section19 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section19_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #6e0011;
}
.section19_img1 {
  position: absolute;
  left: 980px;
  top: 270px;
}

.section19_img2 {
  position: absolute;
  left: 140px;
  top: 462px;
}

.section19_text1 {
  position: absolute;
  left: 140px;
  top: 688px;
}

.section19_shot {
  position: absolute;
  left: 140px;
  top: 839px;
}

.section19_text2 {
  position: absolute;
  left: 140px;
  top: 283px;
}

/* section20 */

.section20 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section20_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section20_choose {
  position: absolute;
  left: 140px;
  top: 766px;
}

.section20_closer {
  position: absolute;
  left: 467px;
  top: 903px;
}
.section20_text {
  position: absolute;
  left: 1047px;
  top: 913px;
}

#fullscreen-video5 {
  position: absolute;
  /* width: auto;
  height: 630px; 세로 길이를 1080으로 맞추기 */
  left: 0;
  top: 180px;
  /* /* max-width: 100%;
  object-fit: cover; */
}

/* section21 */
.scroll_container03 {
  width: 5760px;
  height: 1080px;
  display: flex;
  overflow-x: visible;
  flex-wrap: nowrap;
  position: relative;
  /* overflow: hidden; */
}

.section21 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  z-index: 6000;
}

.section21_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  /* overflow: hidden; */
  background: #0d0d0d;
}

.section21_titlelist {
  position: absolute;
  left: 280px;
  top: 757px;
}

.section21_always {
  position: absolute;
  left: 700px;
  top: 877px;
}
.section21_put {
  position: absolute;
  left: 994px;
  top: 867px;
}

#fullscreen-video6 {
  width: 940px;
  height: 483px;
  position: absolute;
  left: 0px;
  top: 180px;
  object-fit: cover;
}

#fullscreen-video7 {
  width: 855px;
  height: 424px;
  position: absolute;
  left: 1520px;
  top: 566px;
  object-fit: cover;
}

/* section22 */

.section22 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section22_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  /* overflow: hidden; */
  background: #0d0d0d;
}

.section22_alotof {
  position: absolute;
  left: 223px;
  top: 450px;
}

.section22_group {
  position: absolute;
  left: 584px;
  top: 402px;
}

.section22_intothe {
  position: absolute;
  left: 1301px;
  top: 602px;
}

/* section23 */

.section23 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section23_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

.section23_shape {
  position: absolute;
  left: 161px;
  top: 490px;
}

.section23_text {
  position: absolute;
  left: 188px;
  top: 490px;
}

#fullscreen-video8 {
  width: 1030px;
  height: 440px;
  position: absolute;
  left: 445px;
  top: 320px;
  object-fit: cover;
}

/* section24 */

.section24 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.section24_container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}

#fullscreen-video9 {
  width: auto;
  height: 1080px;
  max-width: 100%;
  position: absolute;
  object-fit: cover;
}

.section24_mask {
  position: absolute;
}

.section24_text {
  position: absolute;
  left: 280px;
  top: 116px;
}

.section24_footer {
  position: absolute;
  left: 0px;
  top: 957px;
}

.instagram {
  position: absolute;
  left: 1656px;
  top: 1002px;
}

.facebook {
  position: absolute;
  left: 1697px;
  top: 1002px;
}

.youtube {
  position: absolute;
  left: 1739px;
  top: 1002px;
}
